<h1>Flights Index</h1>

<section>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      Flight: <%= flight.number %>,
      <%= flight.airline.name %><br>
      Passengers:<br>
      <% flight.passengers.each do |passenger| %>
        <section id="passenger-<%= passenger.id %>">
          <%= passenger.name %>
          <%= button_to "Remove Passenger", "/flights/#{flight.id}", params: {passenger: passenger.id}, method: :delete %>
        </section><br>
      <% end %>
    </section><br>
  <% end %>
</section>